<p id="notice"><%= notice %></p>

<div class="container">
<div class="row product_page">
<div class="col-md-4">
<p>
  <%= image_tag(@product.image_url, width: "350", class: "img-zoom", data_zoom_image: "@product.image_url") %>
</p>
</div>
<div class="col-md-4 col-md-offset-1">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price: $</strong>
  <%= @product.price %>
</p>

<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
  <%= hidden_field_tag(:product_id, @product.id) %>
<% end %>

<p>
  </strong>Average Rating: </strong>
  <div class="rated" data-score="<%= @product.average_rating %>"></div> 
</p>
</div>

<!--<div class="col-md-6 col-md-offset-3">-->
<!--<%= @product.highest_rating_comment %>-->
<!--<%= @product.lowest_rating_comment %>-->
<!--</div>-->

</div>

<%= render "new_comment" %>
<%= render "comments" %>
<%= will_paginate @comments %>

<br>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>